/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

/* Default (light) theme */
:root {
  --interactive-color-header: hsl(0, 100%, 100%);
  --interactive-color-background: hsla(0, 0%, 6%, 1);

  /* Panels */
  --interactive-panel-border: 1px solid hsla(0, 0%, 94%, 0.3);
  --interactive-panel-background: hsla(0, 0%, 94%, 0.7);
}

/* Dark theme using class */
:root.is-dark-mode {
  --interactive-color-header: hsl(0, 100%, 100%);
  --interactive-color-background: hsla(0, 0%, 6%, 0.8);

  /* Panels */
  --interactive-panel-border: 1px solid hsla(0, 0%, 94%, 0.9);
  --interactive-panel-background: hsla(0, 0%, 6%, 0.7);
}

[data-key="panel"] {
  border: var(--interactive-panel-border);
  border-radius: 12px;
  background-color: var(--interactive-panel-background);
  backdrop-filter: blur(7px);
  box-shadow: 0 0px 30px hsla(0, 0%, 100%, 0.2);
}

#content > p,
#content > h2,
#content h3,
#content ul {
  color: white;
}

/*
  Odyssey overrides
 */

/*
  NOTE: (No longer using Odyssey blocks
  so some of these are probably unnecessary)
 */

/*
  Fix extended margins on 2nd panel if no embedded media
  https://github.com/abcnews/odyssey/issues/99
 */
.Main > .Block.is-piecemeal > .Block-content:nth-child(2) > :first-child {
  margin-top: 40vh !important;
}

/* Remove long panel transitions */
.Block-content[class*="u-richtext"] > *::before {
  transition: unset !important;
}
