/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

/* Default (light) theme */
:root {
  --interactive-color-header: hsl(0, 100%, 100%);
  --interactive-color-background: hsla(0, 0%, 6%, 1);
  --od-colour-text-primary: #8f2929;
}

/* Dark theme using class */
:root.is-dark-mode {
  --interactive-color-header: hsl(0, 100%, 100%);
  --interactive-color-background: hsla(0, 0%, 6%, 1);
  --od-colour-text-primary: #3623b4;
}

[data-key="panel"] {
  border: 1px solid white;
  border-radius: 12px;
}

/*
  Odyssey overrides
 */

/*
  NOTE: (No longer using Odyssey blocks
  so some of these are probably unnecessary)
 */

/*
  Fix extended margins on 2nd panel if no embedded media
  https://github.com/abcnews/odyssey/issues/99
 */
.Main > .Block.is-piecemeal > .Block-content:nth-child(2) > :first-child {
  margin-top: 40vh !important;
}

/* Remove long panel transitions */
.Block-content[class*="u-richtext"] > *::before {
  transition: unset !important;
}
